fastapi
uvicorn[standard]
openai
python-dotenv
langchain-openai
pinecone
slowapi
supabase
python-jose[cryptography]
python-docx
pypdf
python-multipart
reportlab
pymupdf
pytesseract
pillow
python-dateutil
